* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
}


/* Navbar start */

#navbar {
    background: #f9f9f9;
}

#logo {
    font-size: 36px;
    font-weight: 600;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

#logo span {
    color: #ffa500
}

.navbar-toggler span {
    color: #ffa500;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0 5s ease;
}

.nav-item .nav-link:hover {
    background: #ffa500;
    color: white;
}

#navbar form button {
    background: orange;
    color: white;
    border: none;
}


/* Navbar end */


/* Home Section start*/

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('./image/Pngtree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.home .content {
    text-align: center;
    padding-top: 170px;
    padding-right: 200px;
}

.home .content h5 {
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 15px;
}

.home .content h1 {
    font-size: 70px;
    font-weight: 550;
    color: white;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 30px;
}

.home .content p {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 45px;
    margin-top: 5px;
}

.changecontent::after {
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext {
    0% {
        content: 'France';
    }
    10% {
        content: 'United States';
    }
    20% {
        content: 'Spain';
    }
    30% {
        content: 'Chaina';
    }
    40% {
        content: 'South Africa';
    }
    50% {
        content: 'Canada';
    }
    60% {
        content: 'Maxico';
    }
    70% {
        content: 'India';
    }
    80% {
        content: 'Germany';
    }
    90% {
        content: 'United Kingdom';
    }
    100% {
        content: 'Isael';
    }
}

.home .content a {
    background: white;
    padding: 10px 25px;
    color: black;
    border-radius: 6px;
    /* font-size: 30px; */
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    text-decoration: none;
    box-shadow: 0 0 10px white;
    letter-spacing: 2px;
}

.home .content a:hover {
    background: #ffa500;
    color: white;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 0 5px #ffa500, 0 0 25px #ffa500, 0 0 50px #ffa500;
}

@media (max-width:850px) {
    .home {
        background-position: 50%;
    }
}

@media (max-width:450px) {
    .home .content h5 {
        font-size: 25px;
    }
    .home .content h1 {
        font-size: 38px;
    }
    .home .content p {
        font-size: 13px;
    }
}


/* Home Section end */


/********** Book start **********/

.book {
    background: #f9f9f9f9;
    padding: 50px;
}

.main-text h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.main-text h1 span {
    color: #ffa500;
}

.book .card {
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 10px -6px black;
    /* animation: picter 5s infinite linear; */
}

.book .card img {
    border-radius: 8px;
}


/* @keyframes pictur {
    0% {
        background-image: url("./image/246569-P440XK-360.jpg ");
    }
    25% {
        background-image: url("./image/251095-P4UCE2-179.jpg ");
    }
    50% {
        background-image: url("./image/130107-OS94VT-710.jpg ");
    }
    100% {
        background-image: url("./image/258463-P4SWWP-49.jpg ");
    }
} */

.carousel-inner .carousel-item {
    width: 350px;
    height: 550px;
    background-position: center;
    background-size: cover;
}

.book .row {
    margin-top: 30px;
}

.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -6px black;
}

.book form textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 5px 5px 5px -6px black;
}

.book .submit {
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: white;
    margin-top: 25px;
    transition: 0.5s;
    scale: 1 ease;
    margin-left: 180px;
    box-shadow: 0px 0px 5px #ffa500, 0px 0px 10px #ffa500;
}

.book .submit:hover {
    /* box-shadow: 0px 0px 5px #ffa500, 0px 0px 25px #ffa500; */
    transform: scale(1.05);
}


/********** Book end **********/


/* ------ Packages start ----- */

.main-text h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.packages .card {
    border-radius: 6px;
    border: none;
    box-shadow: 10px 10px 10px -6px black;
}

.packages .card img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.packages .card .card-body {
    background: transparent;
    margin-bottom: 40px;
}

.packages .card .card-body h3 {
    font-size: 25px;
    font-weight: 600;
}

.packages .card .card-body p {
    font-size: 15px;
}

.checked {
    color: #ffa500;
}

.star i {
    font-size: 15px;
}

.packages .card .card-body h6 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.packages .card .card-body a {
    position: absolute;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background: #ffa500;
    border-radius: 6px;
    transition: 0.5s;
    scale: 1 ease;
}

.packages .card .card-body a:hover {
    box-shadow: 0 0 5px #ffa500, 0 0 20px #ffa500;
    transform: scale(1.05);
}


/* ------ Packages end ----- */


/*------- Services start -------*/

.services .main-text h1 {
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.services {
    background: #f9f9f9;
    margin-top: 40px;
    margin-bottom: 40px;
}

.services .card {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    border: none;
    cursor: pointer;
}

.services .card i {
    font-size: 80px;
    color: #ffa500;
    margin-top: 20px;
    text-align: center;
}

.services .card .card-body {
    text-align: center;
}

.services .card .card-body h3 {
    font-weight: 600;
}


/*------- Services end -------*/


/*------- Gallary start -------*/

.gallary {
    margin-top: 50px;
}

.gallary .row {
    margin-bottom: 17px;
}

.gallary .card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
    cursor: pointer;
}


/*------- Gallary end -------*/


/*------- About Us Start -------*/

.about {
    margin-top: 50px;
    background: #f9f9f9;
}

.about .main-text h1 {
    margin-bottom: 50px;
}

.about .card {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.6) 6px 8px 14px;
}

.about .card img {
    border-radius: 15px;
}

.about h2 {
    font-weight: 600;
    letter-spacing: 1px;
}

.about p {
    font-weight: 500;
}

#about-btn {
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 10px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
    scale: 1 ease;
}

#about-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ffa500, 0 0 20px #ffa500;
}


/*------- About Us end -------*/


/*------- Footer start-------*/

#footer {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #dbd7d7;
    /* padding-bottom: 5px; */
}

#footer h1 {
    font-weight: 600;
    padding: 30px;
    text-shadow: 0 0 1px black;
}

#footer h1 span {
    color: #ffa500;
}

.social-links i {
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover {
    background: #ffa500;
}

#footer .credit p a {
    text-decoration: none;
}

.end {
    background: rgb(161, 161, 161);
    padding-top: 5px;
    padding-bottom: 2px;
}

.end p {
    padding-top: 15px;
    font-size: 21px;
    color: black;
}


/*------- Footer end -------*/